<h1><center>You are almost ready to play.</center></h1>

  <body style ="background: url('https://images.unsplash.com/photo-1592614978779-7f8e84d4ff06?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=4032&q=80'); background-size: 100%;">

<form action="/play" method="post"><center>
  <label>Add your name please: </label>
  <input type='text' name='Player'></center><br>
  <center><input type="submit" value="ADD" style="height:50px;width:100px"></center>
</form>
