<h1><center>You are almost ready to play.</center></h1>

<form action="/play" method="post"><center>
  <label>Add your name please: </label>
  <input type='text' name='Player'></center><br>
  <center><input type="submit" value="ADD" style="height:50px;width:100px"></center>
</form>
